version: "3.9"

services:
  www:
    build:
      context: .
      dockerfile: apps/www/dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped

